
- var items = 1 :: 2 :: 3 :: Nil

ul
  - items.foreach(item =>
    li= item
  - )

items2 = 1 :: 2 :: 3 :: Nil

ul
  for (item, i) in items2.zipWithIndex
    li(class='item-#{i}')= item

ul
  each item in items2
    li= item

nums = 1 to 3
letters = "a" :: "b" :: "c" :: Nil

ul
  for l in letters
    for n in nums
      li #{n}: #{l}

count = 0
counter = () => (1 to 3).map(_ + count)
ul
  for n in counter()
    li #{n}